<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
<script>
function fn() { 
   location.href = "/moment/home";
}
</script>
<style>
@font-face {
   font-family: "Am";
   src: url("font/AmaticSC-Regular.ttf")
} 

.hj_head {
   text-align: center;
   height: 50px;
   background-color: black;
   color: white;
   font-family: "Am";
   font-size: 25pt;
   vertical-align: middle;
}
</style>
</head>
<body>
   <div onclick="fn()" id="head" class="hj_head  navbar-fixed-top">in the
      moment</div>

</body>
</html>