@font-face {
	font-family: "나눔고딕";
	src: url("/font/NANUMBARUNGOTHIC.TTF")
}

@font-face {
	font-family: "설렘";
	src: url("/font/210 설렘주의B.ttf")
}

@font-face {
	font-family: "���씠�룷";
	src: url("/font/Typo_PapyrusM.ttf")
}

@font-face {
	font-family: "Am";
	src: url("/font/AmaticSC-Regular.ttf");
}

body {
	font-family: "�굹�닎怨좊뵓";
	letter-spacing: -1px;
}

#date {
	text-align: left;
	float: left;
	vertical-align: bottom;
}

#nickdiv {
	text-align: right;
	vertical-align: bottom;
}

#date, #mem_nick {
	text-shadow: #999999 1px 1px 1px;
}

.hj_headmargin {
	margin-top: 60px;
	margin-bottom: 40px;
}

#clear {
	flaot: both;
}

#title {
	text-decoration: underline;
	font-size: 16pt;
	margin-bottom: 10px;
	text-shadow: #999999 2px 2px 2px;
	font-family: "�꽕�젞";
}

#location {
	float: right;
	text-align: right;
	text-shadow: #999999 1px 1px 1px;
}

#content, #roll, #location {
	font-size: 10pt;
	text-shadow: #999999 1px 1px 1px;
}

.h1_1 {
	border-top: 1px solid lightgray;
	margin: 10px;
}

.h1_2 {
	border-top: 1px solid lightgray;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

#foot {
	margin-top: 80px
}

.hj_roll_img {
	width: 35px;
}

.hj_heart_img {
	width: 18px;
	margin-right: 10px;
}

#age {
	margin-right: 10px;
}

#kindimg, #age {
	width: 60px;
}

#icon {
	margin-bottom: 10px;
}

#mylike {
	font-size: 10pt;
}